.container-fluid {
    overflow: hidden;

    background: #262626;
    color: #627482 !important;
    margin-bottom: 0;
    padding-bottom: 0
}

@media (max-width: 769px) {
    #about-container{
        padding: 8vw 4vw 2vw 4vw;
    }
    #about-container .about-img{
        padding-right: 30px;
    }
}
@media (max-width: 475px) {
    #about-container {
        flex-direction: column-reverse;
    }

        #about-container .about-img {
            width: 100%;
            padding-right: 0px;
        }

    #about-container .about-text{
        width:100%;
        padding-bottom: 20px;
    }
}
/* Home */
.home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url('../images/bg (2).svg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .home h2 {
        color: #fff;
        font-size: 2.2rem;
        letter-spacing: 1px;
        padding-top: 40px;
        margin-top: -20px;
    }

    .home .btn {
        margin-top: 30px;
    }
    .home a {
        text-decoration: none;
        font-size: 0.9rem;
        padding: 13px 35px;
        background-color: #fff;
        font-weight: 600;
        border-radius: 5px;
    }
    .home a.blue {
        color: #fff;
        background: rgb(21, 21, 100);
    }

        .home a.blue:hover {
            color: rgb(21, 21, 100);
            background: #fff;
            transition: 0.3s ease;
        }

    .home a.yellow {
        color: #fff;
        background: #ffa500;
    }

        .home a.yellow:hover {
            color: rgb(21, 21, 100);
            background: #fff;
            transition: 0.3s ease;
        }
/* features */
.features {
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}

    .features .fea-base {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 1rem;
        margin-top: 50px;
    }

    .features .fea-box {
        background: #f9f9ff;
        text-align: start;
        font-size: 2.3rem;
        color: rgb(44, 44, 80);
    }

        .features .fea-box h3 {
            font-size: 1.2rem;
            font-weight: 600;
            color: rgb(44, 44, 80);
            padding: 13px 0 7px 0;
        }

/* course */
.course {
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}

    .course .course-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 1rem;
        margin-top: 50px;
    }

    .course .courses {
        text-align: start;
        background: #f9f9ff;
        height: 100%;
        position: relative;
    }

        .course .courses img {
            width: 100%;
            height: 60%;
            background-size: cover;
            background-position: center;
        }

        .course .courses .details {
            padding: 15px 15px 0 15px;
        }

            .course .courses .details .star {
                color: #ffa500;
                font-size: 0.9rem;
            }

        .course .courses .cost {
            background-color: rgb(74, 74, 136);
            color: #fff;
            line-height: 70px;
            width: 70px;
            height: 70px;
            text-align: center;
            border-radius: 50%;
            position: absolute;
            right: 15px;
            bottom: 100px;
        }

/* Community experts */
.experts {
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}

    .experts .expert-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 1rem;
        margin-top: 50px;
    }

.pro-links {
    margin-top: 10px;
}

    .pro-links a {
        padding: 5px 13px;
        cursor: pointer;
        border: 1px solid rgb(52, 47, 70);
        border-radius: 5px;
    }

        .pro-links a:hover {
            background: rgb(21, 21, 100);
            color: #fff;
            transition: 0.3s ease;
        }

/* -------------------------About------------------- */
.about-home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url('../images/homebg (1).jpg');
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .about-home h2 {
        color: #fff;
        font-size: 2.6rem;
        padding: 8vw 0 2vw 0;
    }

.about-container {
    display: flex;
    align-items: center;
    padding: 8vw 8vw 2vw 8vw;
}

    .about-container .about-img {
        width: 60%;
    }

    .about-container .about-text {
        width: 40%;
        padding: 60px;
    }

        .about-container .about-text .about-features {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 30px;
        }

            .about-container .about-text .about-features img {
                width: 50px;
                background-size: cover;
                background-position: center;
                margin-right: 20px;
            }

            .about-container .about-text .about-features .fe-text {
                width: 90%;
            }

                .about-container .about-text .about-features .fe-text h5 {
                    font-size: 16px;
                }

/*----------Blogs------------*/
.blog-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vw;
}

    .blog-container .blogs {
        width: 60%;
    }

        .blog-container .blogs .post h3 {
            color: #293038;
            padding: 15px 0 10px 0;
            margin-bottom: 10px;
        }

        .blog-container .blogs .post a {
            text-decoration: none;
            font-size: 0.9rem;
            padding: 10px 25px;
            background-color: rgb(21, 21, 100);
            color: #fff;
            border-radius: 5px;
            font-weight: 600;
        }

        .blog-container .blogs .post {
            padding-bottom: 60px;
        }

        .blog-container .blogs img {
            width: 100%;
            border-radius: 25px;
        }

    .blog-container .cat {
        width: 30%;
    }

        .blog-container .cat h2 {
            padding-bottom: 8px;
        }

        .blog-container .cat a {
            text-decoration: none;
            color: #757373;
            font-weight: 600;
            line-height: 40px;
        }
    /* blog read more */
    .blog-container .bgr {
        width: 60%;
        margin: 0 auto;
    }

        .blog-container .bgr p {
            text-align: justify;
        }
/*................courses details...............*/
.course-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8vw;
}

    .course-details .overview {
        width: 60%;
    }

    .course-details h3 {
        padding: 30px 0 20px 0;
        color: #293038;
    }

    .course-details hr {
        height: 0.5px;
        background: rgba(99, 112, 168, 0.5);
        margin-top: 40px;
    }

    .course-details .overview .course-img {
        width: 100%;
        height: 60vh;
        object-fit: cover;
        border-radius: 15px;
        margin-bottom: 20px;
    }

    .course-details .overview .heading {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

        .course-details .overview .heading .c1-name {
            width: 60%;
        }

            .course-details .overview .heading .c1-name .star {
                margin: 6px 0;
            }

                .course-details .overview .heading .c1-name .star a {
                    color: #ffa500;
                    font-size: 0.9rem;
                }

        .course-details .overview .heading span {
            padding: 10px 14px;
            border-radius: 5px;
            color: #313035;
            font-size: 24px;
            font-weight: 700;
            background-color: rgb(177, 171, 171);
        }

    .course-details .learn p {
        font-size: 15px;
        padding: 15px;
    }

        .course-details .learn p a {
            color: darkblue;
            font-weight: 800;
            margin-right: 20px;
        }

    .course-details .tutor {
        display: flex;
    }

        .course-details .tutor img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-right: 20px;
        }

        .course-details .tutor h5 {
            font-size: 50px;
        }

    .course-details .left-details {
        width: 300px;
        padding: 0 30px 30px 30px;
        border-radius: 12px;
        box-shadow: 0px 20px 40px 0 rgb(194, 194, 204);
    }

        .course-details .left-details h3 {
            padding-bottom: 10px;
        }

        .course-details .left-details p {
            font-size: 15px;
            color: #757373;
            margin: 15px 0;
        }

            .course-details .left-details p a {
                color: darkblue;
                font-weight: 400;
                margin-right: 15px;
                width: 16px;
                height: 16px;
                line-height: 16px;
                text-align: center;
            }

        .course-details .left-details .enroll-btn {
            padding: 25px 0 20px 0;
            margin: auto;
            text-align: center;
        }

            .course-details .left-details .enroll-btn a {
                text-decoration: none;
                font-size: 0.9rem;
                padding: 12px 25px;
                font-weight: 600;
                border-radius: 5px;
                color: #fff;
                background-color: darkblue;
            }

/*-------------contact----------------*/
.contact {
    padding: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

    .contact .touch {
        width: 400px;
    }

        .contact .touch h3 {
            margin-top: 20px;
            margin-bottom: 20px;
            line-height: 12px;
        }

        .contact .touch .touch-details div {
            display: flex;
        }

            .contact .touch .touch-details div a {
                font-size: 16px;
                margin-right: 20px;
            }

    .contact .connect-form {
        background-color: #f3f3f3;
        border-radius: 12px;
        box-shadow: 0px 20px 40px 0 rgb(194, 194, 204);
        padding: 40px;
        width: 50%;
    }

        .contact .connect-form h4 {
            font-size: 24px;
            color: #2c234d;
            line-height: 30px;
            margin-bottom: 8px;
        }

        .contact .connect-form .form-row {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

            .contact .connect-form .form-row input {
                width: 40%;
                font-size: 14px;
                border-radius: 2.5px;
                border: none;
                background: #fff;
                color: #413c3c;
                outline: none;
                padding: 20px 30px;
                margin-bottom: 20px;
            }

        .contact .connect-form .form-col input,
        textarea {
            width: 100%;
            font-size: 14px;
            border-radius: 2.5px;
            border: none;
            background: #fff;
            color: #413c3c;
            outline: none;
            padding: 20px 30px;
            margin-bottom: 20px;
        }

        .contact .connect-form button {
            font-size: 0.9rem;
            padding: 13px 25px;
            background: rgb(21, 21, 100);
            border-radius: 5px;
            outline: none;
            border: none;
            cursor: pointer;
            color: white;
            font-weight: 600;
        }
/*login-----register*/
.login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7d2ae8;
    padding: 30px;
    position: relative;
    max-width: 850px;
    width: 60%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2700px;
    margin-left: 20%;
}

    .login-container .cover {
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        width: 50%;
        z-index: 98;
        transition: all 1s ease;
        transform-origin: left;
        transform-style: preserve-3d;
    }

    .login-container #flip:checked ~ .cover {
        transform: rotateY(-180deg);
    }

    .login-container .cover .front,
    .login-container .cover .back {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

.cover .back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.login-container .cover::before,
.login-container .cover::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #7d2ae8;
    opacity: 0.5;
    z-index: 12;
}

.login-container .cover::after {
    opacity: 0.3;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.login-container .cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
}

.login-container .cover .text {
    position: absolute;
    z-index: 130;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover .text .text-2 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.cover .text .text-2 {
    font-size: 15px;
    font-weight: 500;
}

.login-container .forms {
    height: 100%;
    width: 100%;
    background: #fff;
}

.login-container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
    width: calc(100% / 2 - 25px);
}

.forms .form-content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

    .forms .form-content .title:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 25px;
        background: #7d2ae8;
    }

.forms .signup-form .title:before {
    width: 20px;
}

.forms .form-content .input-boxes {
    margin-top: 30px;
}

.forms .form-content .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

    .form-content .input-box input:focus,
    .form-content .input-box input:valid {
        border-color: #7d2ae8;
    }

.form-content .input-box i {
    position: absolute;
    color: #7d2ae8;
    font-size: 17px;
}

.forms .form-content .text {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

    .forms .form-content .text a {
        text-decoration: none;
    }

        .forms .form-content .text a:hover {
            text-decoration: underline;
        }

.forms .form-content .button {
    color: #fff;
    margin-top: 40px;
}

    .forms .form-content .button input {
        color: #fff;
        background: #7d2ae8;
        border-radius: 6px;
        padding: 0;
        cursor: pointer;
        transition: all 0.4s ease;
    }

        .forms .form-content .button input:hover {
            background: #5b13b9;
        }

.forms .form-content label {
    color: #5b13b9;
    cursor: pointer;
}

    .forms .form-content label:hover {
        text-decoration: underline;
    }

.forms .form-content .login-text,
.forms .form-content .sign-up-text {
    text-align: center;
    margin-top: 25px;
}

.login-container #flip {
    display: none;
}
